.container {
    text-align: center;
    margin-top: 50px;
    }

.quiz-selection button {
    margin: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #444;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.quiz-selection button:hover {
    background-color: #666;
}